set scrolloff=15
set clipboard+=unnamed
set ignorecase
set incsearch
set nohls
set notimeout
set norelativenumber
set commentary
set which-key
Plug 'preservim/nerdtree'
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-surround' 
nnoremap <Leader> <Nop>
let mapleader = " "

"  replace, reformat, recent, refactor
nnoremap <Leader>ra :%s//g<Left><Left>
nnoremap <Leader>rm :action ReformatCode<CR>
nnoremap <Leader>rn :action RenameElement<CR>
nnoremap <Leader>re :action ShowIntentionActions<CR>
nnoremap <Leader>rl :action RecentLocations<CR>

" coding convenience (append to ends)
nnoremap <Leader>; A;<Esc>
nnoremap <Leader>, A,<Esc>

" jump
nnoremap <Leader>j :action JumpToLastWindow<CR>

" files, find
nnoremap <Leader>ff :action GotoFile<CR>
nnoremap <Leader>fw :action ActivateFindToolWindow<CR>
nnoremap <Leader>fn :action NewElementSamePlace<CR>
"Something
" Git
nnoremap <Leader>vu :action Vcs.UpdateProject<CR>
nnoremap <Leader>vb :action Git.Branches<CR>
nnoremap <Leader>vn :action Git.CreateNewBranch<CR>
nnoremap <Leader>va :action Annotate<CR>
nnoremap <Leader>vh :action Vcs.ShowTabbedFileHistory<CR>
nnoremap <Leader>vp :action Vcs.Push<CR>
nnoremap <Leader>vc :action CheckinProject<CR>
nnoremap <Leader>vr :action ChangesView.Revert<CR> 

" terminal (new/activate)
nnoremap <Leader>tn :action Terminal.OpenInReworkedTerminal<CR> 
nnoremap <Leader>ta :action ActivateTerminalToolWindow<CR> 

" sneak/jump
nnoremap s :action KJumpAction.Char2<CR>

" search, structure
nnoremap <Leader>se :action SearchEverywhere<CR>
nnoremap <Leader>sp :action FileStructurePopup<CR>
nnoremap <Leader>sif :action FindInPath<CR>

" breakpoints
nnoremap <Leader>br :action ToggleLineBreakpoint<CR>
nnoremap <Leader>bc :action AddConditionalBreakpoint<CR>

" explore
nnoremap <Leader>e :action ActivateProjectToolWindow<CR>
nnoremap <Leader>E :action SelectInProjectView <CR>

" delete, debug, distraction 
nnoremap <Leader>db :action ChooseDebugConfiguration<CR> 
nnoremap <Leader>dcw :e ~/RiderProjects/attrax/src/Copernicus.Web/Properties/launchSettings.json<CR>
nnoremap <Leader>dca :e ~/RiderProjects/attrax/src/Copernicus.Web.Admin/Properties/launchSettings.json<CR>
nnoremap <Leader>df :action ToggleDistractionFreeMode<CR>


" go 
nnoremap gn :action GotoNextError<CR>
nnoremap gN :action GotoPreviousError<CR>
nnoremap gr :action FindUsages<CR>
nnoremap gi :action GotoImplementation<CR>
nnoremap gD <F12>

" windows
nnoremap <Leader>ww <C-w><C-w>
nnoremap <Leader>wu :action UnsplitAll<CR>
nnoremap <Leader>h :action HideAllWindows<CR>

" editing this file
nnoremap \e :e ~/.ideavimrc<CR>
nnoremap \s :e /Users/dmurphy/.microsoft/usersecrets/fd532cab-1276-4c85-9ddd-2eed9d78508d/secrets.json<CR>
nnoremap \r :action IdeaVim.ReloadVimRc.reload<CR>

""" capital remaps
nnoremap U <C-R> 
nnoremap L :tabnext<CR>
nnoremap H :tabprev<CR>
nnoremap K :action ShowHoverInfo<CR>
vnoremap I :action copilot.chat.inline<CR> 
nnoremap Q :bd<CR>
nnoremap E :action ShowNavBar<CR>

nnoremap <Leader>ss :action RiderManageRecentProjects<CR>
nnoremap R :action ShowPopupMenu<CR>
vnoremap R :action ShowPopupMenu<CR>
nnoremap <Leader><Leader> :action StartOrStopPomodoro<CR>
nnoremap <Leader>c :noh<CR>
nnoremap <Leader>p <Esc>viwP
noremap <Leader>g :action copilot.chat.show<CR>

nnoremap <Leader>rr :action GotoRelated<CR>

function! Invert(calledFromVisual)
  let antonyms = ['true', 'false', 'public', 'private', 'True', 'False', 'Public', 'Private']

  if a:calledFromVisual
    normal gv"wy
  else
    normal "wyiw
  endif
  let wordUnderCaret = @w

  let eraseWord = a:calledFromVisual ? 'gvc' : 'ciw'
  let count = 0
  while (count < len(antonyms))
    if (antonyms[count] ==# wordUnderCaret)
      let antonym = (count % 2 ==? 0) ? antonyms[count + 1] : antonyms[count - 1]
      execute 'normal ' .. eraseWord .. antonym
      break
    endif
    let count += 1
  endwhile
endfunction

nnoremap ! :call Invert(0)<CR>
vnoremap ! :<C-u>call Invert(1)<CR>
